{% extends "base.html" %}

{% block content %}

<h2>New category</h2>
<form method="post" action="{{base_path}}/category">

    <!-- should be "name"? -->
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="form-group">
        <label for="color">Color:</label>
        <br>
        <div data-toggle="buttons"> 
            {% for symbolColor in ['danger', 'warning', 'success', 'info', 'primary'] %}
            <label class="btn btn-{{symbolColor}}"> 
            <input type="radio" name="color" value="{{symbolColor}}">
                <span class="glyphicon glyphicon-adjust}}"></span>
            </label>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="symbol">Symbol:</label>
        <br>
        <div data-toggle="buttons"> 
            {% for symbolText in ['heart', 'home', 'shopping-cart', 'plane', 'music'] %}
            <label class="btn btn-default"> 
            <input type="radio" name="symbol" value="{{symbolText}}">
                <span class="glyphicon glyphicon-{{symbolText}}"></span>
            </label>
            {% endfor %}
        </div>
    
    </div>

    <button type="submit" class="btn btn-primary">Create category</button>

</form>

{% endblock %}
