{% extends "base.html" %} 
{% block content %}

<h2>New category</h2>
<form method="post" action="{{base_path}}/newcategory">

	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" class="form-control" name="name">
	</div>

	<div class="form-group">
		<label for="description">Description:</label>
		<input type="text" class="form-control" name="description">
	</div>

	<div class="form-group">
		<label for="color">Color:</label>
		<br>
		<div data-toggle="buttons">
			{% for symbolColor in validColors %}
			<label class="btn btn-{{symbolColor}} btn-lg"> 
            <input type="radio" name="color" value="{{symbolColor}}">
                <span class="glyphicon glyphicon-adjust}}"></span>
            </label> 
            {% endfor %}
		</div>
	</div>

	<div class="form-group">
		<label for="symbol">Symbol:</label>
		<br>
		<div data-toggle="buttons">
                <label class="btn btn-default btn-lg"> 
                <input id="symbol" type="radio" name="symbol" value="{{symbol}}">
                    <span class="glyphicon glyphicon-{{symbol}}"></span>
                </label>
                {% if loop.index is divisible by(5) %}
				<br>
                {% endif %} 
		</div>
	</div>

    <div class="form-group">
			<button type="submit" class="btn btn-primary">Create category</button>
    </div>
</form>

{% endblock %}