{% extends "base.html" %}

{% block content %}

<h2>New category</h2>
<form method="post" action="{{base_path}}/category">

    <!-- should be "name"? -->
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" name="description">
    </div>

    <!-- todo: put these on a grid + color -->
    <div class="form-group">
        <label for="symbol">Symbol:</label>
        <br>
        <div class="btn-group" data-toggle="buttons">
            <span class="glyphicon glyphicon-calendar"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-home"></span>
            <span class="glyphicon glyphicon-music"></span>
            <span class="glyphicon glyphicon-signal"></span>
            <span class="glyphicon glyphicon-picture"></span>
            <span class="glyphicon glyphicon-plane"></span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create category</button>

</form>

{% endblock %}