{% macro action_button(method, action, title, color, symbol, size, text) %}
<form method="{{method}}" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-{{color}} {{size}}" data-toggle="tooltip" title="{{title}}"> 
        <span class="glyphicon glyphicon-{{symbol}}"></span> {{text}}
    </button>
</form>
{% endmacro %}

{% macro category_button_xs(action, title, color, symbol) %}
    {% import _self as forms %}
    {{ forms.action_button("get", action, title, color, symbol, "btn-xs") }}
{% endmacro %}

{% macro category_button(action, title, color, symbol) %}
    {% import _self as forms %}
    {{ forms.action_button("get", action, title, color, symbol) }}
{% endmacro %}

{% macro edit_button(action, title, text) %}
    {% import _self as forms %}
    {{ forms.action_button("get", action, title, "info", "pencil", "btn-sm", text) }}
{% endmacro %}

{% macro remove_button(action, title) %}
    {% import _self as forms %}
    {{ forms.action_button("post", action, title, "danger", "trash", "btn-sm", text) }}
{% endmacro %}

{% macro due_label(duedate) %}
    {% set dateTimeEvent = date(duedate) %}
    {% set dateTimeNow = date(now.iso8601) %}
    {% set dateInterval = dateTimeNow.diff(dateTimeEvent) %}
  
    {% set days = dateInterval|date('%a') %}
    {% set hours = dateInterval|date('%h') %}
    {% set totalHours = days * 24 + hours %}

    {% set upcoming = dateInterval|date('%R') == '+' ? true %}

    {% if upcoming and (days>0) %}
    <span class="label label-info">{{ days }} d</span>
    {% elseif upcoming %}
    <span class="label label-warning">{{ totalHours }} h</span>
    {% else %}
    <span class="label label-danger">Late!</span>
    {% endif %}
{% endmacro %}
