{% extends "base.html" %}
{% block content %}

<h2>Edit task</h2>
<form method="post" action="{{base_path}}/task/{{myTask.id}}/edit">

    <div class="form-group">
        <label>Task list:</label>
        <select class="form-control" name="id_tasklist">
            {% for tasklist in myTasklists %}
            <option value="{{tasklist.id}}" {% if tasklist.id == myTask.id_tasklist %}selected{% endif %}>{{tasklist.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" value="{{myTask.name}}">
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="6" name="description">{{myTask.description}}</textarea>
    </div>

    <!-- Priority: pre-selected from existing task -->
    <div class="form-group">
        <label for="priority">Priority:</label>
        <br>
        <div class="btn-group" data-toggle="buttons">
            {% for i in 1..4 %}
            {% set priorityText = ['', 'Low', 'Normal', 'High', 'Highest'] %}
            <label class="btn btn-info{% if myTask.priority == i %} active {% endif %}">
                <input type="radio" name="priority" id="{{priorityText[i]}}" value="{{i}}" {% if myTask.priority == i %} checked {% endif %}>{{priorityText[i]}}</label>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="duedate">Due date:</label>
        <div class='input-group date' id='duedate'>
            <input type='text' class="form-control" name='duedate' />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="categories[]">Categories:</label>
        <div data-toggle="buttons">
            {% for category in myCategories %}
            <label class="btn btn-{{category.color}}{% if category.id in myTaskCategories %} active{% endif %}" data-toggle="tooltip" title="{{category.name}}">
                <input type="checkbox" name="categories[]" value="{{category.id}}"{% if category.id in myTaskCategories %} checked{% endif %}>
                <span class="glyphicon glyphicon-{{category.symbol}}"></span>
            </label>
            {% endfor %}     
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save task</button>

</form>

<!-- Enable and initialize Datetime picker -->
<script type="text/javascript">
$(function () {
        $('#duedate').datetimepicker({
            sideBySide:true,
            format:'YYYY-MM-DD HH:mm',
            defaultDate: '{{myTask.duedate}}',
            });
        });
</script>
{% endblock %}
