{% extends "base.html" %}

{% block content %}

<h2>New task</h2>
<form method="post" action="{{base_path}}/task">

    <div class="form-group">
        <label>Task list:</label>
        <select class="form-control" name="id_tasklist">
            {% for taskList in myTaskLists %}
            <option value="{{taskList.id}}">{{taskList.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="form-group">
        <label for="priority">Priority:</label>
        <br>
        <div class="btn-group" data-toggle="buttons">
            {% for i in 1..4 %}
            {% set priorityText = ['', 'Low', 'Normal', 'High', 'Highest'] %}
            <label class="btn btn-info">
                <input type="radio" name="priority" id="{{priorityText[i]}}" value="{{i}}">{{priorityText[i]}}</label>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="duedate">Due date:</label>
        <div class='input-group date' id='duedate'>
            <input type='text' class="form-control" name='duedate' />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="categories">Categories:</label>
        <select multiple class="form-control" name="categories[]">
            <!-- TODO: how the hell do I show glyphicons in option text? -->
            {% for category in myCategories %}
            <option value="{{category.id}}">{{category.description}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create task</button>

</form>

<!-- Enable popovers and Datetime picker -->
<script type="text/javascript">
$(function () {
        $('#duedate').datetimepicker({
            sideBySide:true,
            format:'YYYY-MM-DD HH:mm:ss',
            //defaultDate: '{{myTask.duedate}}',
            });
        });
$(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        });
</script>

{% endblock %}
