{% extends "base.html" %}

{% block content %}

{% if errors is defined %}
{% for error in errors %}
<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{error}}
</div>
{% endfor %}
{% endif %}

<h2>New task</h2>
<form method="post" action="{{base_path}}/newtask">

    <div class="form-group">
        <label>Task list:</label>
        <select class="form-control" name="id_tasklist">
            {% for taskList in myTaskLists %}
            <option value="{{taskList.id}}" {% if (attributes.id_tasklist == taskList.id) %} selected{% endif %}>{{taskList.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" value="{{attributes.name}}">
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="6" name="description">{{attributes.description}}</textarea>
    </div>

    <!-- Priority: default "normal" -->
    <div class="form-group">
        <label for="priority">Priority:</label>
        <br>
        <div class="btn-group" data-toggle="buttons">
            {% for i in 1..4 %}
            {% set priorityText = ['', 'Low', 'Normal', 'High', 'Highest'] %}
            <label class="btn btn-info{% if i==2 %} active {% endif %}">
                <input type="radio" name="priority" id="{{priorityText[i]}}" value="{{i}}" {% if attributes.priority == i %} checked {% endif %}>{{priorityText[i]}}</label>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="duedate">Due date:</label>
        <div class='input-group date' id='duedate'>
            <input type='text' class="form-control" name='duedate' />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="categories[]">Categories:</label>
        <div data-toggle="buttons">
            {% for category in myCategories %}
            <label class="btn btn-{{category.color}}" data-toggle="tooltip" title="{{category.description}}">
                <input type="checkbox" name="categories[]" value="{{category.id}}">
                <span class="glyphicon glyphicon-{{category.symbol}}"></span>
            </label>
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create task</button>

</form>

<!-- Enable Datetime picker -->
<script type="text/javascript">
$(function () {
        $('#duedate').datetimepicker({
sideBySide:true,
format:'YYYY-MM-DD HH:mm',
//defaultDate: '{{myTask.duedate}}',
});
        });
</script>
{% endblock %}
