{% extends "base.html" %}

{% block content %}

<h2>New task</h2>
<form method="post" action="{{base_path}}/task">

  <div class="form-group">
    <label>Task list:</label>
    <select class="form-control" name="id_tasklist">
      {% for taskList in myTaskLists %}
      <option value="{{taskList.id}}">{{taskList.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" name="description">
  </div>

  <!-- TODO: Duedate selector -->

  <div class="form-group">
    <label for="priority">Priority:</label>
    <br>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-info">
        <input type="radio" name="priority" id="low" value="1">Low
      </label>
      <label class="btn btn-success active">
        <input type="radio" name="priority" id="normal" value="2" checked>Normal
      </label>
      <label class="btn btn-warning">
        <input type="radio" name="priority" id="high" value="3">High
      </label>
      <label class="btn btn-danger">
        <input type="radio" name="priority" id="highest" value="4">Highest
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="categories">Categories:</label>
    <select multiple class="form-control" name="category[]">
    <!-- TODO: how the hell do I show glyphicons in option text? -->
      {% for category in myCategories %}
      <option value="{{category.id}}">{{category.description}}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Create task</button>

{% endblock %}
