{% extends "base.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}

<h2>{{myTask.name}}</h2>

{{myDescription|raw}}

<div class="form-group">
    <label for="priority">Priority:</label><br/>
    <div class="btn-group" data-toggle="buttons">
        {% for i in 1..4 %}
        {% set priorityText = ['', 'Low', 'Normal', 'High', 'Highest'] %}
        <label class="btn btn-info{% if myTask.priority == i %} active {% endif %}">
            <input type="radio" name="priority" id="{{priorityText[i]}}" value="{{i}}" 
            {% if myTask.priority == i %} checked {% endif %}>{{priorityText[i]}}
        </label>
        {% endfor %}
    </div>
</div>

<div class="form-group">
    <label for="duedate">Due date:</label>
    <div class='input-group date' id='duedate'>
        <input type='text' class="form-control" name='duedate' />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>

<div class="form-group">
<label for="categories[]">Categories:</label>
<br>
    {% for category in myCategories %}
        {% if category.id in myTaskCategories %}
                {{ forms.category_button_xs("#{base_path}/category/#{category.id}/list","#{category.name}", 
                "#{category.color}", "#{category.symbol}") }}
        {% endif %}
    {% endfor %}     
</div>

<!-- Edit and remove buttons -->
<div class="form-group">
{{ forms.edit_button("#{base_path}/task/#{myTask.id}/edit","Edit task", "Edit task")}}
{{ forms.remove_button("#{base_path}/task/#{myTask.id}/remove","Remove task", "Remove task") }}
</div>

<!-- Enable and initialize Datetime picker -->
<script type="text/javascript">
    $(function () {
        $('#duedate').datetimepicker({
            sideBySide:true,
            format:'YYYY-MM-DD HH:mm',
            defaultDate: '{{myTask.duedate}}',
            //disabled: true
        });
    });
</script>
{% endblock %}
