{% extends "base.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}

{% if message is defined %}
<div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{message}}
</div>
{% endif %}


<table class="table">
    <!-- header -->
    <thead>
        <tr>
            <th class="col-xs-2">Symbol</th>
            <th class="col-xs-10">Name</th>
            <!-- <th>Description</th> -->
        </tr>
    </thead>

    <tbody>
    {% for category in myCategories %}
    <tr>
        <td>
            {{ forms.category_button("#{base_path}/category/#{category.id}/list","#{category.name}", 
            "#{category.color}", "#{category.symbol}") }}
        </td>
        <td>{{category.name}}</td>
        <!-- <td>{{category.description}}</td> -->
    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}
