{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-6">

    <table class="table">
      <!-- header -->
      <thead>
        <tr>
          <th colspan=2>
            <h2>Kotijutut</h2></th>
          <th>Priority</th>
          <th>Category</th>
          <th><a href="#" class="btn btn-primary">New task</a></th>
        </tr>
      </thead>

      <tbody>
        <!-- Tehtävälistaus -->
        <tr>
          <td><a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a></td>

          <!-- description -->
          <td>Käy kaupassa</td>

          <!-- priority -->
          <td>
            <span class="glyphicon glyphicon-asterisk"></span>
            <span class="glyphicon glyphicon-asterisk"></span>
            <span class="glyphicon glyphicon-asterisk"></span>
          </td>

          <!-- category -->
          <td><span class="glyphicon glyphicon-euro"></span></td>

          <!-- deadline (disabled)
        <td>2016-09-15 16:00</td>
        -->

          <!-- edit & remove -->
          <td>
            <div class="btn-toolbar">
              <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </td>

        </tr>

        <tr>
          <td><a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a></td>

          <!-- description -->
          <td>Kastele kukat</td>

          <!-- priority -->
          <td>
            <span class="glyphicon glyphicon-asterisk"></span>
            <span class="glyphicon glyphicon-asterisk"></span>
            <span class="glyphicon glyphicon-asterisk"></span>
          </td>

          <!-- category -->
          <td><span class="glyphicon glyphicon-heart"></span></td>

          <!-- deadline (disabled)
        <td>2016-09-15 16:00</td>
        -->

          <!-- edit & remove -->
          <td>
            <div class="btn-toolbar">
              <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </td>

        </tr>

      </tbody>
    </table>

  </div>
  <div class="col-sm-6">


    <table class="table">
      <!-- header -->
      <thead>
        <tr>
          <th colspan=2>
            <h2>Projektit</h2></th>
          <th>Priority</th>
          <th>Category</th>
          <th><a href="#" class="btn btn-primary">New task</a></th>
        </tr>
      </thead>

      <tbody>
        <!-- Tehtävälistaus -->
        <tr>
          <td><a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a></td>

          <!-- description -->
          <td>Korjaa vahvistin</td>

          <!-- priority -->
          <td>
            <span class="glyphicon glyphicon-asterisk"></span>
          </td>

          <!-- category -->
          <td><span class="glyphicon glyphicon-star"></span></td>

          <!-- deadline (disabled)
        <td>2016-09-15 16:00</td>
        -->

          <!-- edit & remove -->
          <td>
            <div class="btn-toolbar">
              <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </td>

        </tr>

        <tr>
          <td><a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a></td>

          <!-- description -->
          <td>Osta juotostinaa</td>

          <!-- priority -->
          <td>
            <span class="glyphicon glyphicon-asterisk"></span>
            <span class="glyphicon glyphicon-asterisk"></span>
          </td>

          <!-- category -->
          <td><span class="glyphicon glyphicon-euro"></span></td>

          <!-- deadline (disabled)
        <td>2016-09-15 16:00</td>
        -->

          <!-- edit & remove -->
          <td>
            <div class="btn-toolbar">
              <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </td>

        </tr>

      </tbody>
    </table>

  </div>
</div>

{% endblock %}
