{% extends "base.html" %} {% import "macros/forms.html" as forms %} {% block content %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{% for tasklist in myTasklists %}
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading{{tasklist.id}}">
			<table class="table">
				<thead>
					<tr>
						<td class="col-xs-2"><h3><a role="button" data-toggle="collapse" href="#collapse{{tasklist.id}}" aria-expanded="true" aria-controls="collapse{{tasklist.id}}">
                		<span class="label label-default">{{tasklist.name}}</span></a></h3></td>
						
						<td class="col-xs-8">{{tasklist.description}}</td>
						
						<td class="col-xs-2">
						<div class="btn-toolbar">
						{{ forms.edit_button("#{base_path}/list/#{tasklist.id}/edit","Edit list")}} 
						{{ forms.remove_button("#{base_path}/list/#{tasklist.id}/remove","Remove list")}}
						</div>
						</td>
					</tr>
				</thead>
			</table>
		</div>	
		
		<div id="collapse{{tasklist.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{tasklist.id}}">
			<div class="panel-body">
				
				<!-- check this table -->
				
				<table class="table" id="datatable{{tasklist.id}}">
					<!-- Headers -->
					<thead>
						<tr>
							<th class="col-xs-1">Status</th>
							<th class="col-xs-1">Due</th>
							<th class="col-xs-2">Priority</th>
							<th class="col-xs-5">Name</th>
							<th class="col-xs-1">Categories</th>
							<th class="col-xs-2">Actions</th>
						</tr>
					</thead>
					<tbody>

						{% for task in tasklist.tasks %}
						<tr class="
        {% if task.status == 2 %}success{% endif %}
        {% if task.status == 1 %}info{% endif %} 
        {% if task.archived %} hidden{% endif %}">
							<!-- status -->
							<td data-order="{{task.status}}">
								{% if task.status == 2 %} {{ forms.action_button("post", "#{base_path}/task/#{task.id}/archive", "Archive task", "success",
								"ok") }} {% elseif task.status == 1 %} {{ forms.action_button("post", "#{base_path}/task/#{task.id}/complete", "Complete
								task", "info", "play") }} {% else %} {{ forms.action_button("post", "#{base_path}/task/#{task.id}/start", "Start
								task", "default", "play") }} {% endif %}
							</td>

							<!-- due deadline -->
							<td>
								{% if task.duedate and task.status == 0 %} {{ forms.due_label(task.duedate) }} {% endif %}
							</td>

							<!-- priority stars -->
							<td data-order="{{task.priority}}">
								{% for i in 1..4 %}
								<span class="warning glyphicon glyphicon-star{% if i>task.priority %}-empty{% endif %}"></span> {% endfor %}
							</td>

							<!-- task name -->
							<td>
								<a href="{{base_path}}/task/{{task.id}}/view">
									<div style="height:100%;width:100%">
										{{task.name}}
									</div>
								</a>
							</td>

							<!-- category -->
							<td>
								{% for category in task.categories %} {{ forms.category_button_xs("#{base_path}/category/#{category.id}/list","#{category.name}",
								"#{category.color}", "#{category.symbol}") }} {% endfor %}
							</td>

							<!-- edit & remove buttons -->
							<td>
								<div class="btn-toolbar">
									{{ forms.edit_button("#{base_path}/task/#{task.id}/edit","Edit task")}} 
									{{ forms.remove_button("#{base_path}/task/#{task.id}/remove","Remove task") }}
								</div>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div><!-- panel -->
	<script type="text/javascript">
	$(document).ready(function() {
    $('#datatable{{tasklist.id}}').DataTable({
        paging: false,
        searching: false,
        info: false,
		"order": [[ 2, "desc" ]]
    });});
	</script>
	{% endfor %}
</div><!-- panel-group -->

<!-- enable collapse -->
{% endblock %}