{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}


{% for tasklist in myTasklists %}

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{tasklist.id}}">

        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <h3><a role="button" data-toggle="collapse" href="#collapse{{tasklist.id}}" aria-expanded="true" aria-controls="collapse{{tasklist.id}}">{{tasklist.name}}</a></h3>
                </div>
                <div class="col-xs-7">
                    <h3><small>{{tasklist.description}}</small></h3>
                </div>
                <div class="col-xs-2 btn-toolbar">
                    {{ forms.edit_button("#{base_path}/list/#{tasklist.id}/edit","Edit list")}} 
                    <!--{{ forms.remove_button("#{base_path}/list/#{tasklist.id}/remove","Remove list")}} -->
                    <form class = "destroy-form"
                         method = "post" 
                         action = "{{base_path}}/list/{{tasklist.id}}/remove" 
                          style = "display: inline-block;" 
                   data-confirm = "Removing the list will also remove all tasks in the list. Remove list?">
                        <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove list"> 
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div>
    <!-- panel-heading-->

    <div id="collapse{{tasklist.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{tasklist.id}}">
        <div class="panel-body">

            <table class="table datatable" id="datatable{{tasklist.id}}">
                <!-- Headers -->
                <thead>
                    <tr>
                        <th class="col-xs-1">Status</th>
                        <th class="col-xs-1">Due</th>
                        <th class="col-xs-2">Priority</th>
                        <th class="col-xs-6">Name</th>
                        <th class="col-xs-2">Categories</th>
                    </tr>
                </thead>
                <tbody>

                    {% for task in tasklist.tasks %}
                    <tr class="
        {% if task.status == 2 %}success{% endif %}
        {% if task.status == 1 %}info{% endif %} 
        {% if task.archived %} hidden{% endif %}">
                        <!-- status -->
                        <td data-order="{{task.status}}">
                            {% if task.status == 2 %}
								{{ forms.action_button("post", "#{base_path}/task/#{task.id}/archive", "Archive task", "success", "ok") }}
							{% elseif task.status == 1 %} 
								{{ forms.action_button("post", "#{base_path}/task/#{task.id}/complete", "Complete task", "info", "play") }} 
							{% else %} 
								{{ forms.action_button("post", "#{base_path}/task/#{task.id}/start", "Start task", "default", "play") }} 
							{% endif %}
                        </td>

                        <!-- due deadline -->
                        <td>
                            {% if task.duedate and task.status == 0 %} {{ forms.due_label(task.duedate) }} {% endif %}
                        </td>

                        <!-- priority stars -->
						{{ forms.priority_stars(base_path, task.id, task.priority) }}

                        <!-- task name -->
                        <td>
                            <a href="{{base_path}}/task/{{task.id}}/view">
                                <div style="height:100%;width:100%">
                                    {{task.name}}
                                </div>
                            </a>
                        </td>

                        <!-- category -->
                        <td>
                            {% for category in task.categories %} {{ forms.category_button_xs("#{base_path}/category/#{category.id}/view","#{category.name}",
                            "#{category.color}", "#{category.symbol}") }} {% endfor %}
                        </td>

                        <!-- edit & remove buttons DISABLED
                            <td>
                                <div class="btn-toolbar">
                                    {{ forms.edit_button("#{base_path}/task/#{task.id}/edit","Edit task")}} 
                                    {{ forms.remove_button("#{base_path}/task/#{task.id}/remove","Remove task") }}
                                </div>
                            </td>
                            -->
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- panel -->
{% endfor %}

{% endblock %}
