{% extends "base.html" %}

{% block content %}

<!-- Testing column view.
<div class="row">
  <div class="col-sm-6">
-->

<h2>New task</h2>
<form>

  <div class="form-group">
    <label>Task list:</label>
    <select class="form-control">
      <option>Kotijutut</option>
      <option>Projektit</option>
    </select>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description">
  </div>

  <div class="form-group">
    <label for="priority">Priority:</label>
    <br>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-info">
        <input type="radio" name="options" id="priority">Low
      </label>
      <label class="btn btn-success active">
        <input type="radio" name="options" id="priority" checked>Normal
      </label>
      <label class="btn btn-warning">
        <input type="radio" name="options" id="priority">High
      </label>
      <label class="btn btn-danger">
        <input type="radio" name="options" id="priority">Highest
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="categories">Categories:</label>
    <select multiple class="form-control" id="categories">
      <option>Home</option>
      <option>Shopping</option>
      <option>Work</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary">Create task</button>


{% endblock %}
