{% extends "base.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}

{% if message is defined %}
<div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{message}}
</div>
{% endif %}

{% for taskList in myTaskLists %}

<table class="table">
    <!-- header -->
    <thead>
        <tr>
            <td colspan=6>
                <h2>{{taskList.name}}</h2>
            </td>
        </tr>
        <tr>
            <th class="col-xs-1">Status</th>
            <th class="col-xs-1">Due</th>
            <th class="col-xs-2">Priority</th>
            <th class="col-xs-5">Name</th>
            <th class="col-xs-1">Categories</th>
            <th class="col-xs-2">Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for task in taskList.tasks %}
        <tr class="{% if task.status == 2 %}success{% endif %}{% if task.status == 1 %}info{% endif %}">
            <!-- status -->
            <td>
                {% if task.status == 2 %}
                <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a>
                {% elseif task.status == 1 %}
                <form method="post" action="{{base_path}}/task/{{task.id}}/complete" style="display: inline-block;">
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-play"></span></button>
                </form>
                {% else %}
                <form method="post" action="{{base_path}}/task/{{task.id}}/start" style="display: inline-block;">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-play" style="visibility: hidden"></span></button>
                </form>
                {% endif %}
            </td>
            <td>
            <!-- due deadline. TODO: move to controller (task.timeremaining) -->
                {% if task.duedate and task.status == 0 %}
                {% set dateTimeEvent = date(task.duedate) %}
                {% set dateTimeNow = date(now.iso8601) %}

                {% set dateInterval = dateTimeNow.diff(dateTimeEvent) %}

                {% set days = dateInterval|date('%a') %}
                {% set hours = dateInterval|date('%h') %}
                {% set totalHours = days * 24 + hours %}

                {% set upcoming = dateInterval|date('%R') == '+' ? true %}

                {% if upcoming and (days>0) %}
                <span class="label label-info">{{ days }} d</span>
                {% elseif upcoming %}
                <span class="label label-warning">{{ totalHours }} h</span>
                {% else %}
                <span class="label label-danger">Late!</span>
                {% endif %}

                {% endif %}
            </td>

            <!-- priority stars -->
            <td>{% for i in 1..4 %}<span class="warning glyphicon glyphicon-star{% if i>task.priority %}-empty{% endif %}"></span>{% endfor %}</td>

            <!-- task name -->
            <td>{{task.name}}</td>

            <!-- category -->
            <td>
                {% for category in task.categories %}
                {{ forms.category_button_xs("#{base_path}/category/#{category.id}/list","#{category.name}", 
                "#{category.color}", "#{category.symbol}") }}
                {% endfor %}
            </td>

            <!-- edit & remove buttons -->
            <td>
                <div class="btn-toolbar">
                 {{ forms.edit_button("#{base_path}/task/#{task.id}/edit","Edit task")}}
                 {{ forms.remove_button("#{base_path}/task/#{task.id}/remove","Remove task") }}
                </div>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}
