{% extends "base.html" %}
{% import "twig/macros.html" as macros %}

{% block content %}

{% if message is defined %}
<div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{message}}
</div>
{% endif %}

{% for taskList in myTaskLists %}

<table class="table">
    <!-- Headers -->
    <thead>
        <tr>
            <td colspan=6>
                <h2>{{taskList.name}}</h2>
            </td>
        </tr>
        <tr>
            <th class="col-xs-1">Status</th>
            <th class="col-xs-1">Due</th>
            <th class="col-xs-2">Priority</th>
            <th class="col-xs-5">Name</th>
            <th class="col-xs-1">Categories</th>
            <th class="col-xs-2">Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for task in taskList.tasks %}

        {% block taskrow %}{% endblock %}

        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}
