{% extends "base.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}

{% for tasklist in myTasklists %}

<table class="table">
    <!-- Headers -->
    <thead>
        <tr>
            <td colspan=6>
                <h2><a href="{{base_path}}/list/{{tasklist.id}}/view"><span class="label label-default">{{tasklist.name}}</span></a></h2>
            </td>
        </tr>
        <tr>
            <th class="col-xs-1">Status</th>
            <th class="col-xs-1">Due</th>
            <th class="col-xs-2">Priority</th>
            <th class="col-xs-5">Name</th>
            <th class="col-xs-1">Categories</th>
            <th class="col-xs-2">Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for task in tasklist.tasks %}
        <tr class="
        {% if task.status == 2 %}success{% endif %}
        {% if task.status == 1 %}info{% endif %} 
        {% if task.archived %} hidden{% endif %}">
            <!-- status -->
            <td>
                {% if task.status == 2 %}
                {{ forms.action_button("post", "#{base_path}/task/#{task.id}/archive", "Archive task", "success", "ok") }}
                {% elseif task.status == 1 %}
                {{ forms.action_button("post", "#{base_path}/task/#{task.id}/complete", "Complete task", "info", "play") }}
                {% else %}
                {{ forms.action_button("post", "#{base_path}/task/#{task.id}/start", "Start task", "default", "play") }}
                {% endif %}
            </td>
            
            <!-- due deadline -->
            <td>
                {% if task.duedate and task.status == 0 %}
                    {{ forms.due_label(task.duedate) }}
                {% endif %}
            </td>

            <!-- priority stars -->
            <td>
                {% for i in 1..4 %}
                    <span class="warning glyphicon glyphicon-star{% if i>task.priority %}-empty{% endif %}"></span>
                {% endfor %}
            </td>

            <!-- task name -->
            <td>
                <a href="{{base_path}}/task/{{task.id}}/view">
                <div style="height:100%;width:100%">
                {{task.name}}
                </div>
                </a>
            </td>

            <!-- category -->
            <td>
                {% for category in task.categories %}
                {{ forms.category_button_xs("#{base_path}/category/#{category.id}/list","#{category.name}", 
                "#{category.color}", "#{category.symbol}") }}
                {% endfor %}
            </td>

            <!-- edit & remove buttons -->
            <td>
                <div class="btn-toolbar">
                 {{ forms.edit_button("#{base_path}/task/#{task.id}/edit","Edit task")}}
                 {{ forms.remove_button("#{base_path}/task/#{task.id}/remove","Remove task") }}
                </div>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}
