{% extends "base.html" %}
{% block content %}

<h2>Tasklists</h2>

<table class="table">
    <!-- header -->
    <thead>
        <tr>
            <th class="col-xs-2">Name</th>
            <th class="col-xs-9">Description</th>
            <th class="col-xs-1"></th>
            <!-- <th>Description</th> -->
        </tr>
    </thead>


    <tbody>
    {% for tasklist in myTasklists %}
    <tr>
        <td>
            {{tasklist.name}}
        </td>
        <td>
            {{tasklist.description}}
        </td>
        <td>
            <div class="btn-toolbar">
            {{ forms.edit_button("#{base_path}/list/#{tasklist.id}/edit","Edit tasklist")}} 
            {{ forms.remove_button("#{base_path}/list/#{tasklist.id}/remove","Remove tasklist") }}
            </div>
        </td>

    </tr>
    {% endfor %}
    </tbody>

{% endblock %}
